.container,
.container-sm,
.container-xs {
  width: 100%;
  margin: 0 auto;
  padding-left: $container--padding__mobile;
  padding-right: $container--padding__mobile;

  @include media(">small") {
    padding-left: $container--padding__desktop;
    padding-right: $container--padding__desktop;
  }
}
.container-l {
  width: 100%;
  margin: 0 auto;
  padding-left: $container--padding__mobile;
  padding-right: $container--padding__mobile;
}
.home-banner {
  flex-direction: column;
  display: flex;
  @include media(">small") {
    flex-direction: row;
  }
}
.home-bannerImg {
  width: 100%;
  @include media(">small") {
    width: 20%;
  }
}
.downloadBtn {
  height: 60px;
  width: 180px;
  border-radius: 8px;
  border-width: 1.5px;
  border-color: "#fff";
  display: flex;
  background-color: #1a282f;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  padding: 2px;
  cursor: pointer;
  @include media(">small") {
    margin-bottom: 0px;
    margin-left: 60px;
    margin-right: 60px;
  }
}
.container {
  max-width: $container--width + ($container--padding__desktop * 2);
}

.container-sm {
  max-width: $container--width-sm + ($container--padding__desktop * 2);
}

.container-xs {
  max-width: $container--width-xs + ($container--padding__desktop * 2);
}

[class*="container"] {
  [class*="container"] {
    padding-left: 0;
    padding-right: 0;
  }

  .container-sm {
    max-width: $container--width-sm;
  }

  .container-xs {
    max-width: $container--width-xs;
  }
}
