/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 100px;
    top: 100px;
    display: none;
}

.rotateImg180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}